<div class="container main-container">

    <div class="row text-center" class="col-md-12"
        style="padding-bottom: 30px;"
        style="text-align: center;"
        style="font-size: xx-large;">

        Profiles
    </div>

    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="profiles.length === 0">
                <th>There is no profile</th>
            </tr>
            <tr *ngFor="let profile of profiles; let i = index">
                <td>{{ profile.id }}</td>
                <td>{{ profile.name }}</td>
            </tr>
        </tbody>
    </table>

</div>
